.content {
  max-width: min(112rem, 90%);
}

#room header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#room header .buttons {
  display: flex;
}

#room header .buttons .button:nth-child(1) {
  margin-right: .8rem;
  padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

#room header .buttons .button:nth-child(2) {
  padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img {
  width: 2rem;
  height: 2rem;
}

/*---- QUESTION FORM ----*/
#question-form h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--black);
  line-height: 4.2rem;

  margin-bottom: 2.4rem;
}

#question-form form {
  border: 2px solid var(--grey-blue);
  border-radius: 0 .8rem .8rem .8rem;
  padding: 1.6rem;

  margin-bottom: 1.6rem;
}

#question-form form textarea {
  width: 100%;
  background: transparent;
  resize: none;
  outline: none;
}

#question-form form textarea:placeholder {
  color: var(--grey-blue);
}

#question-form form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#question-form form footer > div {
  display: flex;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--icons-details);
}

#question-form form footer > div img {
  margin-right: .9rem;
}

#question-form form footer button {
  height: auto;
  padding: .8rem 2.4rem;
  line-height: 2.4rem;
}

/*---- QUESTIONS ----*/
.question-wrapper {
  padding: 2.4rem;
  margin-bottom: .8rem;
  background: var(--light-blue);
  border-radius: 0 .8rem .8rem .8rem;
}

.question-wrapper .question-content {
  display: flex;
  align-items: flex-start;
}

.question-wrapper .question-content .user {
  background: var(--blue);
  clip-path: circle();
  padding: 1.4rem;
}

.question-wrapper .question-content p {
  display: flex;
  align-items: center;

  min-height: 5.5rem;

  margin-left: 1.6rem;
  word-break: break-word;
}

.question-wrapper .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.question-wrapper .actions > a {
  display: flex;
  align-items: center;
}

.question-wrapper .actions > a > img {
  margin-right: .8rem;
}

.question-wrapper .actions > a + a {
  margin-left: 2.4rem;
}

/*---- QUESTION READ ----*/
.question-wrapper.read {
  background: var(--grey-zero);
}

.question-wrapper.read .question-content .user {
  background: var(--grey-blue);
}